<%= form_with(model: clients_company, local: true) do |form| %>
  <% if clients_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clients_company.errors.count, "error") %> prohibited this clients_company from being saved:</h2>

      <ul>
      <% clients_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address_post %>
    <%= form.text_field :address_post %>
  </div>

  <div class="field">
    <%= form.label :prefecture_id %>
    <%= form.number_field :prefecture_id %>
  </div>

  <div class="field">
    <%= form.label :address_city %>
    <%= form.text_field :address_city %>
  </div>

  <div class="field">
    <%= form.label :address_building %>
    <%= form.text_field :address_building %>
  </div>

  <div class="field">
    <%= form.label :established %>
    <%= form.date_select :established %>
  </div>

  <div class="field">
    <%= form.label :president %>
    <%= form.text_field :president %>
  </div>

  <div class="field">
    <%= form.label :employees_number %>
    <%= form.number_field :employees_number %>
  </div>

  <div class="field">
    <%= form.label :employees_memo %>
    <%= form.text_field :employees_memo %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :stock_memo %>
    <%= form.text_field :stock_memo %>
  </div>

  <div class="field">
    <%= form.label :homepage %>
    <%= form.text_field :homepage %>
  </div>

  <div class="field">
    <%= form.label :time_start %>
    <%= form.text_field :time_start %>
  </div>

  <div class="field">
    <%= form.label :time_end %>
    <%= form.text_field :time_end %>
  </div>

  <div class="field">
    <%= form.label :time_memo %>
    <%= form.text_field :time_memo %>
  </div>

  <div class="field">
    <%= form.label :average_ages %>
    <%= form.text_field :average_ages %>
  </div>

  <div class="field">
    <%= form.label :domain_text %>
    <%= form.text_field :domain_text %>
  </div>

  <div class="field">
    <%= form.label :welfare %>
    <%= form.text_field :welfare %>
  </div>

  <div class="field">
    <%= form.label :day_off %>
    <%= form.text_field :day_off %>
  </div>

  <div class="field">
    <%= form.label :recruiter %>
    <%= form.text_field :recruiter %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
