<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clients_company.name %>
</p>

<p>
  <strong>Address post:</strong>
  <%= @clients_company.address_post %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @clients_company.prefecture_id %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @clients_company.address_city %>
</p>

<p>
  <strong>Address building:</strong>
  <%= @clients_company.address_building %>
</p>

<p>
  <strong>Established:</strong>
  <%= @clients_company.established %>
</p>

<p>
  <strong>President:</strong>
  <%= @clients_company.president %>
</p>

<p>
  <strong>Employees number:</strong>
  <%= @clients_company.employees_number %>
</p>

<p>
  <strong>Employees memo:</strong>
  <%= @clients_company.employees_memo %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @clients_company.stock %>
</p>

<p>
  <strong>Stock memo:</strong>
  <%= @clients_company.stock_memo %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @clients_company.homepage %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @clients_company.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @clients_company.time_end %>
</p>

<p>
  <strong>Time memo:</strong>
  <%= @clients_company.time_memo %>
</p>

<p>
  <strong>Average ages:</strong>
  <%= @clients_company.average_ages %>
</p>

<p>
  <strong>Domain text:</strong>
  <%= @clients_company.domain_text %>
</p>

<p>
  <strong>Welfare:</strong>
  <%= @clients_company.welfare %>
</p>

<p>
  <strong>Day off:</strong>
  <%= @clients_company.day_off %>
</p>

<p>
  <strong>Recruiter:</strong>
  <%= @clients_company.recruiter %>
</p>

<%= link_to 'Edit', edit_clients_company_path(@clients_company) %> |
<%= link_to 'Back', clients_companies_path %>
