<%= form_with(model: employees_account, local: true) do |form| %>
  <% if employees_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employees_account.errors.count, "error") %> prohibited this employees_account from being saved:</h2>

      <ul>
      <% employees_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name_kana %>
    <%= form.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= form.label :first_name_kana %>
    <%= form.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.date_select :birth %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :employment_status %>
    <%= form.text_field :employment_status %>
  </div>

  <div class="field">
    <%= form.label :address_post %>
    <%= form.text_field :address_post %>
  </div>

  <div class="field">
    <%= form.label :prefecture_id %>
    <%= form.number_field :prefecture_id %>
  </div>

  <div class="field">
    <%= form.label :address_city %>
    <%= form.text_field :address_city %>
  </div>

  <div class="field">
    <%= form.label :address_building %>
    <%= form.text_field :address_building %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university %>
  </div>

  <div class="field">
    <%= form.label :faculty %>
    <%= form.text_field :faculty %>
  </div>

  <div class="field">
    <%= form.label :graduate %>
    <%= form.number_field :graduate %>
  </div>

  <div class="field">
    <%= form.label :desired_salary %>
    <%= form.number_field :desired_salary %>
  </div>

  <div class="field">
    <%= form.label :personal_summary %>
    <%= form.text_field :personal_summary %>
  </div>

  <div class="field">
    <%= form.label :not_public_company %>
    <%= form.text_field :not_public_company %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
