<p id="notice"><%= notice %></p>

<h1>Employees Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Last name kana</th>
      <th>First name kana</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Birth</th>
      <th>Sex</th>
      <th>Password</th>
      <th>Employment status</th>
      <th>Address post</th>
      <th>Prefecture</th>
      <th>Address city</th>
      <th>Address building</th>
      <th>University</th>
      <th>Faculty</th>
      <th>Graduate</th>
      <th>Desired salary</th>
      <th>Personal summary</th>
      <th>Not public company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees_accounts.each do |employees_account| %>
      <tr>
        <td><%= employees_account.last_name %></td>
        <td><%= employees_account.first_name %></td>
        <td><%= employees_account.last_name_kana %></td>
        <td><%= employees_account.first_name_kana %></td>
        <td><%= employees_account.phone_number %></td>
        <td><%= employees_account.email %></td>
        <td><%= employees_account.birth %></td>
        <td><%= employees_account.sex %></td>
        <td><%= employees_account.password %></td>
        <td><%= employees_account.employment_status %></td>
        <td><%= employees_account.address_post %></td>
        <td><%= employees_account.prefecture_id %></td>
        <td><%= employees_account.address_city %></td>
        <td><%= employees_account.address_building %></td>
        <td><%= employees_account.university %></td>
        <td><%= employees_account.faculty %></td>
        <td><%= employees_account.graduate %></td>
        <td><%= employees_account.desired_salary %></td>
        <td><%= employees_account.personal_summary %></td>
        <td><%= employees_account.not_public_company %></td>
        <td><%= link_to 'Show', employees_account %></td>
        <td><%= link_to 'Edit', edit_employees_account_path(employees_account) %></td>
        <td><%= link_to 'Destroy', employees_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employees Account', new_employees_account_path %>
