<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @employees_account.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employees_account.first_name %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @employees_account.last_name_kana %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @employees_account.first_name_kana %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employees_account.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employees_account.email %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @employees_account.birth %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @employees_account.sex %>
</p>

<p>
  <strong>Password:</strong>
  <%= @employees_account.password %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @employees_account.employment_status %>
</p>

<p>
  <strong>Address post:</strong>
  <%= @employees_account.address_post %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @employees_account.prefecture_id %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @employees_account.address_city %>
</p>

<p>
  <strong>Address building:</strong>
  <%= @employees_account.address_building %>
</p>

<p>
  <strong>University:</strong>
  <%= @employees_account.university %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @employees_account.faculty %>
</p>

<p>
  <strong>Graduate:</strong>
  <%= @employees_account.graduate %>
</p>

<p>
  <strong>Desired salary:</strong>
  <%= @employees_account.desired_salary %>
</p>

<p>
  <strong>Personal summary:</strong>
  <%= @employees_account.personal_summary %>
</p>

<p>
  <strong>Not public company:</strong>
  <%= @employees_account.not_public_company %>
</p>

<%= link_to 'Edit', edit_employees_account_path(@employees_account) %> |
<%= link_to 'Back', employees_accounts_path %>
