<%= form_with(model: employment_pattern, local: true) do |form| %>
  <% if employment_pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employment_pattern.errors.count, "error") %> prohibited this employment_pattern from being saved:</h2>

      <ul>
      <% employment_pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
