<p id="notice"><%= notice %></p>

<h1>Employment Patterns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_patterns.each do |employment_pattern| %>
      <tr>
        <td><%= employment_pattern.name %></td>
        <td><%= link_to 'Show', employment_pattern %></td>
        <td><%= link_to 'Edit', edit_employment_pattern_path(employment_pattern) %></td>
        <td><%= link_to 'Destroy', employment_pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment Pattern', new_employment_pattern_path %>
