
<div class="content_upper">
  <h3>Scout Checking Page</h3>
</div>
<div class="setting-container-detail">


<h2> スカウトを送った求職者の一覧です。 </h2>

<% user_count_flag = 0 %> <!-- 変数宣言 -->

 <% @scout.each do |s| %>
    <% @user.each do |u| %>
      <% if s.agreement_count == 0 then %>

          <% if u.id == s.user_id then %>
          <%= u.number_id %>さん <br>
          <% user_count_flag = 1 %>
          <% end %>
      <% end %>
    <% end %>

  <% end %><!-- eachメソッドの終了 -->

    <% if user_count_flag == 0 then %>
        スカウトを送り未承認の求職者はいません。 <br>
    <% end %>

    <br>

ーーーーーーーーーーーーーーーーーーーーーーーーーーー

<h2> スカウトを承認した求職者の一覧です。 </h2>

   <% user_count_flag = 0%>
 <% @scout.each do |s| %>
   <% @user.each do |u| %>
    <% if s.agreement_count == 1 then %>

          <% if u.id == s.user_id then %>
          <%= u.last_name %>さん <br>
          希望年収 : <%= u.desired_salary %>
          自己PR  : <%= u.personal_summary %>
          <br>
          <%= link_to 'メッセージを送る', scout_messages_url %><br>
          <%= link_to 'ユーザー情報を見る', user_views_show_path(:user_id => u.id) %><br>
          <% user_count_flag = 1 %>
          <% end %>

        <% end %>
    <% end %>
  <% end %> <!-- eachメソッドの終了 -->

      <% if user_count_flag == 0 then %>
          スカウトを承認した求職者はいません。 <br>
      <% end %>

<br><br><br>



      <%= link_to 'メニューへ戻る', client_menu_path %><br>
</div>
