
<div class="content_upper">
  <h3>スカウト送付状況の確認</h3>
</div>

<div class="setting-container-detail">
  <div class="scout-container-index">
    <h2> スカウトを送った求職者の一覧です。 </h2>
    <% user_count_flag = 0 %> <!-- 変数宣言 -->
     <% @scout.each do |s| %>
        <% @user.each do |u| %>
          <% if s.agreement_count == 0 then %>
              <% if u.id == s.user_id then %>
              <div class="frame_index">
                  <div class="text">
                    <p><%= u.number_id %>さん</p>
                    <%= link_to 'ユーザー情報を見る', user_views_show_path(:user_id => u.id) %><br>
                    <% user_count_flag = 1 %>
                </div>
              </div>
              <% end %>
          <% end %>
        <% end %>
      <% end %><!-- eachメソッドの終了 -->
      <% if user_count_flag == 0 then %>
          スカウトを送り未承認の求職者はいません。 <br>
      <% end %>
    </div>

    <div class="scout-container-index">
      <h2> スカウトを承認した求職者の一覧です。 </h2>
        <% user_count_flag = 0%>
        <% @scout.each do |s| %>
           <% @user.each do |u| %>
            <% if s.agreement_count == 1 then %>
                <% if u.id == s.user_id then %>
                <div class="frame_index">
                  <div class="text">
                      <p><%= u.last_name %>さん</p>
                      <p> 希望年収 : <%= u.desired_salary %></p>
                      <p>自己PR  : <%= u.personal_summary %></p>
                      <%= link_to 'ユーザー情報を見る', user_views_show_path(:user_id => u.id) %><br>
                      <% user_count_flag = 1 %>
                  </div>
                </div>
                <% end %>
             <% end %>
           <% end %> <!-- eachメソッドの終了 -->
        <% end %> <!-- eachメソッドの終了 -->
        <% if user_count_flag == 0 then %>
            スカウトを承認した求職者はいません。 <br>
        <% end %>
    </div>
  </div>
<div class="menu-back">
  <%= link_to "スカウト送付ページへ戻る" , {:controller => "scouts", :action => 'index'}, Client: @client %>
</div>
