<!--
* スカウトの一覧を表示するviewファイル。
* 決めなくてはいけないこと：スカウトの表示数 max, 表示順(新着順, view数順 ,おすすめ順 ...etc)
* ひとまず、クライアントid順,全部表示で実装する
* 最終編集 : 2018.7.23  edited by takuya
-->

<div class="content_container">
  <div class="detail_scout">

<br><br><br><br><br><br><br><br>

<h3> スカウト概要 </h3><br>

    <% @scout.each do |scout| %>
        <p>
          <% if scout.summary? then%>

          <h4>
            <%= @client.name %> さんのスカウトです <br><br>
          </h4>
            <%= @user.last_name %>さん<br>
            <%= scout.summary %><br>

            <br>

            <%= link_to "もっと情報を見てみる",controller: 'scout_views' , action: 'detail' ,id: scout.id %>
           <% end %>
        </p>
    <% end %>
<br><br>
<h3>
<%= link_to "メニューへ戻る",controller: 'user_menu' , action: 'index'%>
</h3>
  </div>
</div>
