<%= render 'layouts/header' %>
<div class="register-session-container">
  <div class="form-wrapper">
    <h2>登録がお済みの方</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="save-check-btn">
          <%= f.check_box :remember_me, :class =>"heckbox" %>
          <%= f.label :remember_me, :class =>"label-remeber-me" %>
        </div>
      <% end -%>

      <div class="button-panel">
        <%= f.submit "ログインする", :class=> "button" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div><!--form-wrapper-->
</div><!--register-session-container-->
<%= render 'layouts/footer' %>
