<!--
* ユーザのメニュー画面を表示するビューファイル。
* 最低限のトップページへ戻るログアウト / 登録情報の変更 / スカウト一覧を表示 / メッセージを確認する / ユーザ設定する
* のボタンとその遷移を定義するのをここでする。それ以外のデザインとバックエンドは後ほど設計する。
-->
<%= provide(:title, 'SekouAPP') %>


<%= render 'viewscout',Scout: @scout  %>

<div class="content_upper">
  <h3>User Menu</h3>
</div>
<div class="setting-container-detail">

<h1> ここにスカウトからピックアップ表示する </h1>

      <tbody>
        <tr>
          <%= link_to 'スカウトの一覧を表示', scout_views_url %><br>
        </tr>
        <tr>
          <%= link_to '履歴書登録情報の確認・編集', resume_url %><br>
        </tr>
        <tr>
          <%= link_to '職歴登録情報の確認・編集', careers_url %><br>
        </tr>
        <tr>
          <%= link_to 'メッセージページ', scout_messages_url %><br>
        </tr>
        <tr>
          <%= link_to '設定ページ', user_setting_url %><br>
        </tr>
      </tbody>
</div>
