<!--
* ユーザのメニュー画面を表示するビューファイル。
* 最低限のトップページへ戻るログアウト / 登録情報の変更 / スカウト一覧を表示 / メッセージを確認する / ユーザ設定する
* のボタンとその遷移を定義するのをここでする。それ以外のデザインとバックエンドは後ほど設計する。
-->
<%= provide(:title, 'SekouAPP') %>

<%= render 'viewscout',Scout: @scout  %>

<div class="content_upper">
  <h2>ユーザーメニュー</h2>
</div>

<div class="content_container">
  <% if @scouts.blank? %>
    <P>現在、スカウトは特にありません。</p>
  <% else %>
    <div class="scout-job-content-index">
      <% @scouts.each do |scout| %>
        <% if scout.summary? then%>
          <div class="frame_index">
            <div class="text">
              <p><%= scout.client.name %> からのスカウト</p>
              <div class="time">受け取り日：<%= dateformat scout.created_at %></div>
              <%= link_to "#{scout.summary}",controller: 'scout_views' , action: 'detail' ,id: scout.id %>
            </div><!--text -->
          </div><!--frame_index -->
        <% end %>
      <% end %>
    </div><!--scout-job-content-index -->
  <% end %>

  <div class="setting-container">
    <ul>
      <li><%= link_to 'スカウトの一覧を表示', scout_views_path %></li>
      <li><%= link_to '履歴書の確認・編集', resume_path %></li>
      <!-- <li><%= link_to '職歴の確認・編集', careers_path %></li> -->
      <li><%= link_to '設定ページ', user_setting_path %></li>
    </ul>
  </div><!--setting-container -->

</div><!--content_container -->
