<!--
* userモデルとの整合性をとって、メールアドレスの記入を不要にする or 認証をとってバッティングしないようにする。
という設定が必要。

いくつか、フィールドの制限(integerとか。testとか。が縛りが弱いので直す。)

* 入力途中でフォームを送信できてしまうので、必須回答を埋めないと送信できないように制限をかける。

final edited by takuya at 2018.7.27

-->

<%= form_with model: @employee_account, local: true do |form| %>

<% if @employee_account.errors.any? %>
    <h4>入力した内容にエラーが<%= @employee_account.errors.count %>件あります</h4>
    <div class="form-error">
      <ul>
        <% @employee_account.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :last_name, '苗字' %>
    <%= form.text_field :last_name, id: 'employee_account_last_name', placeholder: "山田"%>
  </div>
  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :first_name, '名前' %>
    <%= form.text_field :first_name, id: 'employee_account_first_name', placeholder: "太郎" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :last_name_kana, 'ミョウジ' %>
    <%= form.text_field :last_name_kana, id: :last_name_kana, placeholder: "ヤマダ" %>
  </div>
  <div class="has-float-label_full_2col">
    <%= form.label :first_name_kana, 'ナマエ' %>
    <%= form.text_field :first_name_kana, id: :first_name_kana, placeholder: "タロウ" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :phone_number, '電話番号' %>
    <%= form.text_field :phone_number, id: :phone_number, placeholder: '09000000000' %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :email, 'メールアドレス' %>
    <%= form.text_field :email, id: :email, placeholder: "sample@mail.com" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :password, 'パスワード' %>
    <%= form.text_field :password, id: :password, placeholder: "012345AAA" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :birth, '生年月日' %>
    <%= form.date_field :birth, id: :birth%>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :sex, '性別' %>
    <%= form.select :sex, ['男性', '女性'], :prompt =>'選択してください' %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :employment_status, '就労状況' %>
    <%= form.select :employment_status, ['在籍中', '無職'], :prompt =>'選択してください' %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :address_post, '郵便番号' %>
    <%= form.text_field :address_post, id: :address_post, placeholder: "1030000" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :prefecture_id, '都道府県' %>
    <%= form.text_field :prefecture_id, id: :prefecture_id %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :address_city, '住所_市町村' %>
    <%= form.text_field :address_city, id: :address_city, placeholder: "中央区" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :address_building, '住所_番地・建物名' %>
    <%= form.text_field :address_building, id: :address_building, placeholder: "新川2-2-1 いづみハイツ茅場町913" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :university, '大学名' %>
    <%= form.text_field :university, id: :university, placeholder: "〇〇大学" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :faculty, '学部名' %>
    <%= form.text_field :faculty, id: :faculty, placeholder: "工学部建築学科" %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :graduate, '卒業年' %>
    <%= form.text_field :graduate, id: :graduate, placeholder: "2008" %>
  </div>
</div>

<div class="button_group" id="mini-size">
  <div class="has-float-label_full_2col">
    <%= form.label :desired_salary, '希望年収'%>
    <%= form.text_field :desired_salary, id: :desired_salary, placeholder: "600"  %>
  </div>
  <div class="form-right-space">
    <p>万円</p>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_lg">
    <%= form.label :personal_summary, '自己PR' %>
    <%= form.text_area :personal_summary, id: :personal_summary %>
  </div>
</div>

<div class="button_group">
  <div class="has-float-label_full_2col">
    <%= form.label :not_public_company, '公開NG企業' %>
    <%= form.text_field :not_public_company, id: :not_public_company, placeholder: "株式会社○○" %>
  </div>
</div>

<div class="has-float-label_full_2col">
  <p class="must_btton_text">必須</p>
  <%= form.label :qualifications, '資格' %>
  <%= collection_check_boxes(:employee_account, :qualification_ids, Qualification.all, :id, :name) do |b| %>
  <ul>
    <li><%= b.label { b.check_box + b.text } %></li>
  </ul>
  <% end %>
</div>

<div class="has-float-label_full_2col">
  <p class="must_btton_text">必須</p>
  <%= form.label :job_objectives, '希望職種' %>
  <%= collection_check_boxes(:employee_account, :job_objective_ids, JobObjective.all, :id, :name) do |b| %>
  <ul>
    <li><%= b.label { b.check_box + b.text } %></li>
  </ul>
  <% end %>
</div>


<%= form.submit :送信, class: 'basic-btn'%>

<% end %>
