<!--
* userモデルとの整合性をとって、メールアドレスの記入を不要にする or 認証をとってバッティングしないようにする。
という設定が必要。

いくつか、フィールドの制限(integerとか。testとか。が縛りが弱いので直す。)

* 入力途中でフォームを送信できてしまうので、必須回答を埋めないと送信できないように制限をかける。

final edited by takuya at 2018.7.27

-->


<br><br><br><br><br><br>

<%= form_with model: @employee_account, local: true do |form| %>

  <% if @employee_account.errors.any? %>
      <h4>入力した内容にエラーが<%= @employee_account.errors.count %>件あります</h4>
      <ul>
        <% @employee_account.errors.full_messages.each do |message| %>
          <li> <%= message %></li>
        <% end %>
      </ul>
  <% end %>

<div class="button_group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :last_name %>

    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :first_name %>
    <br><br>
  </div>

<div class="button_group">
    <%= form.label :last_name_kana %>
    <%= form.text_field :last_name_kana, id: :last_name_kana %>

    <%= form.label :first_name_kana %>
    <%= form.text_field :first_name_kana, id: :first_name_kana %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :phone_number%>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :birth %>
    <%= form.date_field :birth, id: :birth%>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :sex %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :employment_status %>
    <%= form.text_field :employment_status, id: :employment_status%>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :address_post %>
    <%= form.text_field :address_post, id: :address_post %>
    <br><br>
  </div>

<div class="button_group">
    <%= form.label :prefecture_id %>
    <%= form.text_field :prefecture_id, id: :prefecture_id %>
    <br><br>
  </div>

<div class="button_group">
    <%= form.label :address_city %>
    <%= form.text_field :address_city, id: :address_city %>
    <br><br>
  </div>

<div class="button_group">
    <%= form.label :address_building %>
    <%= form.text_field :address_building, id: :address_building %>
    <br><br>
  </div>

<div class="button_group">
    <%= form.label :university %>
    <%= form.text_field :university, id: :university %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :faculty %>
    <%= form.text_field :faculty, id: :faculty %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :graduate %>
    <%= form.text_field :graduate, id: :graduate %>
    <br><br><br>
  </div>

<div class="button_group">
    <%= form.label :desired_salary %>
    <%= form.text_field :desired_salary, id: :desired_salary %>万円
    <br><br><br>
</div>

<div class="button_group">
    <%= form.label :personal_summary %>
    <%= form.text_area :personal_summary, id: :personal_summary %>
    <br><br><br>
</div>

<div class="button_group">
    <%= form.label :not_public_company %>
    <%= form.text_field :not_public_company, id: :not_public_company %>
    <br><br><br>
</div>


<div>
  <%= form.submit :送信 %>
</div>

<% end %>
