<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @career.employee_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @career.company_name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @career.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @career.end %>
</p>

<p>
  <strong>Employee pattern:</strong>
  <%= @career.employee_pattern_id %>
</p>

<p>
  <strong>Career outline:</strong>
  <%= @career.career_outline %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
