
<%= provide(:title, 'SekouAPP') %>


<%= render 'layouts/header_user' , Client: @client %>

<div class="content_upper">
  <h3>Client Menu</h3>
</div>
<div class="setting-container-detail">

<h1> ここにユーザーピックアップする </h1>

      <tbody>
        <tr>
          <%= link_to 'スカウトをする', scouts_url %><br>
        </tr>
        <tr>
          <%= link_to '登録情報の確認・編集', coinfo_path %><br>
        </tr>
        <tr>
          <%= link_to 'メッセージページ', scout_messages_url %><br>
        </tr>
        <tr>
          <%= link_to '設定ページ', client_setting_url %><br>
        </tr>
      </tbody>
</div>
