<!-- このindex.html.erbがないとエラーが発生する。
このviewファイルでは、履歴書の確認、編集を行えるようにリンクの一覧を貼るページにする。
edit 2018.7.31 by takuya
-->

<%= render 'layouts/header_user' , ClientAccount: @client_account %>
<div class="content_upper">
  <h3>会社情報の登録・編集ページ</h3>
</div>
<div class="setting-container">
  <div class="setting-container">
    <ul>
      <li><%= link_to '履歴書の新規登録をする',        new_client_account_path %> </li>
      <li><%= link_to '登録した履歴書の中身を確認する',  client_account_path(current_client.client_account.id) %></li>
      <li><%= link_to '登録した履歴書の編集をする',     edit_client_account_path(current_client.client_account.id) %></li>
      <li><%= link_to 'メニューへ戻る',               client_menu_url %></li>
    </ul>
  </div>
</div>
