<div class="content_upper">
  <h2>登録履歴書</h2>
</div> <!--content_upper -->

<div class="content_container">
  <table class="table_1">
    <tr>
      <th>ID</th>
      <td><%= @user.number_id %></td>
    </tr>
    <tr>
      <th>苗字　※承諾後に公開</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>名前　※承諾後に公開</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>ミョウジ　※承諾後に公開</th>
      <td><%= @user.last_name_kana %></td>
    </tr>
    <tr>
      <th>ナマエ　※承諾後に公開</th>
      <td><%= @user.first_name_kana %></td>
    </tr>
    <tr>
      <th>電話番号　※承諾後に公開</th>
      <td><%= @user.phone_number %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @user.birth %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @user.sex %></td>
    </tr>
    <tr>
      <th>就労状況</th>
      <td><%= @user.employment_status %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @user.address_post %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= @user.prefecture_id %></td>
    </tr>
    <tr>
      <th>市町村</th>
      <td><%= @user.address_city %></td>
    </tr>
    <tr>
      <th>番地・建物名</th>
      <td><%= @user.address_building %></td>
    </tr>
    <tr>
      <th>大学</th>
      <td><%= @user.university %></td>
    </tr>
    <tr>
      <th>学部</th>
      <td><%= @user.faculty %></td>
    </tr>
    <tr>
      <th>卒業年</th>
      <td><%= @user.graduate %></td>
    </tr>
    <tr>
      <th>希望年収</th>
      <td><%= @user.desired_salary %></td>
    </tr>
    <tr>
      <th>自己PR・その他</th>
      <td><%= @user.personal_summary %></td>
    </tr>
    <tr>
      <th>資格情報</th>
      <td>
        <% @user.qualification.each do |qualification| %>
          <%= qualification.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>希望職種</th>
      <td>
        <% @user.job_objectives.each do |job| %>
          <%= job.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>職歴　※社名は承諾後に公開</th>
      <td>
        <% @careers.each do |career| %>
          <%= career.company_name %>
          <%= dateformat career.start %>~<%= dateformat career.end %></br>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="btn-position">
    <%= link_to "履歴書を編集する",  edit_resume_path, class: "accept_btn" %>
  </div>
  <div class="btn-position">
    <%= link_to "職歴情報を確認する",  careers_path, class: "accept_btn" %>
  </div>
</div>
<div class="menu-back">
  <%= link_to "履歴書ページへ戻る" , :action => 'index' %>
</div>
