<%= form_with model: @client,url:edit_coinfo_path, local: true do |form| %>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :name, '会社名' %>
    <%= form.text_field :name, id: 'name', placeholder: "Zielson"%>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :address_post, '郵便番号' %>
    <%= form.text_field :address_post, id: 'address_post', placeholder: "1040033" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :prefecture_id, '都道府県' %>
    <%= form.text_field :prefecture_id, id: 'prefecture_id', placeholder: "東京都" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :address_city, '住所 市町村' %>
    <%= form.text_field :address_city, id: 'address_city', placeholder: "中央区" %>
  </div>


  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :address_building, '住所 建物名' %>
    <%= form.text_field :address_building, id: 'address_building', placeholder: "新川" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :established, '会社設立年' %>
    <%= form.date_field :established, id: ' established', placeholder: "2011年" %>
  </div>


  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :president, '代表者名' %>
    <%= form.text_field :president, id: ' president', placeholder: "山田太郎" %>
  </div>


  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :employees_number, '従業員数' %>
    <%= form.number_field :employees_number, id: ' employees_numver', placeholder: "50名" %>
  </div>


  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :employees_memo, '従業員数メモ' %>
    <%= form.text_field :employees_memo, id: ' employees_memo', placeholder: "賑やかな職場です" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :stock, '資本金' %>
    <%= form.number_field :stock, id: ' stock', placeholder: "1000" %>万円
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :stock_memo, '資本金メモ' %>
    <%= form.text_field :stock_memo, id: ' stock_memo', placeholder: "2000万円" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :homepage, 'ホームページ' %>
    <%= form.text_field :homepage, id: ' homapage', placeholder: "http://~~" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :time_start, '出勤時間' %>
    <%= form.text_field :time_start, id: ' time_start', placeholder: "10:00" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :time_end, '退勤時間' %>
    <%= form.text_field :time_end, id: ' time_end', placeholder: "18:00" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :time_memo, '出退勤メモ' %>
    <%= form.text_field :time_memo, id: ' time_memo', placeholder: "フレックスタイム制です" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :average_ages, '平均年齢' %>
    <%= form.text_field :average_ages, id: ' average_ages', placeholder: "39歳" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :domain_text, '事業概要' %>
    <%= form.text_field :domain_text, id: ' domain_text', placeholder: "施工業" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :welfare, '待遇・福利構成' %>
    <%= form.text_field :welfare, id: ' welfare', placeholder: "有給" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :day_off, '休日' %>
    <%= form.text_field :day_off, id: ' day_off', placeholder: "週休2日制" %>
  </div>

  <div class="has-float-label_full_2col">
    <p class="must_btton_text">必須</p>
    <%= form.label :recruiter, '担当者' %>
    <%= form.text_field :recruiter, id: ' recruiter', placeholder: "施工業" %>
  </div>

  <div class="button_group-3">
    <p class="must_btton_text">必須</p>
    <%= form.label :domains, '領域', class: "checkbox-label" %>
    <div class="checkbox_col">
      <%= collection_check_boxes(:client , :domain_ids, Domain.all, :id, :name) do |b| %>
        <div class="check">
          <p class="value"><%= b.label(class: 'labeltag') { b.check_box + b.text } %></p>
        </div>
      <% end %>
    </div>
  </div>

  <%= form.submit :送信, class: "accept_btn"%>
<% end %>
