<div class="content_upper">
  <h2>登録企業情報</h2>
</div> <!--content_upper -->

<div class="content_container">
    <table class="table_1">
      <tr>
        <th>会社名</th>
        <td><%= @client.name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @client.address_post %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @client.prefecture_id %> <%= @client.address_city %> <%= @client.address_building %></td>
      </tr>
      <tr>
        <th>代表者</th>
        <td><%= @client.president %></td>
      </tr>
      <tr>
        <th>設立年</th>
        <td><%= @client.established %></td>
      </tr>
      <tr>
        <th>事業概要</th>
        <td><%= @client.domain_text %></td>
      </tr>
      <tr>
        <th>従業員数</th>
        <td><%= @client.employees_number %></td>
        <td><%= @client.employees_memo %></td>
      </tr>
      <tr>
        <th>資本金</th>
        <td><%= @client.stock %></td>
        <td><%= @client.stock_memo %></td>
      </tr>
      <tr>
        <th>就労時間</th>
        <td>開始<%= @client.time_start %><br>終了<%= @client.time_end %></td>
        <td>メモ<%= @client.time_memo%>
      </tr>
      <tr>
        <th>平均年齢</th>
        <td><%= @client.average_ages %></td>
      </tr>
      <tr>
        <th>福利厚生</th>
        <td><%= @client.welfare %></td>
      </tr>
      <tr>
        <th>休日情報</th>
        <td><%= @client.day_off %></td>
      </tr>
      <tr>
        <th>会社ホームページ</th>
        <td><%= @client.homepage %></td>
      </tr>
      <tr>
        <th>担当者</th>
        <td><%= @client.recruiter %></td>
      </tr>

    </table>
    <div class="btn-position">
      <%= link_to "企業情報を編集する",  edit_coinfo_path, class: "accept_btn" %>
    </div>
</div>
<div class="menu-back">
    <%= link_to "企業情報トップページへ戻る" , :action => 'index' %>
</div>
