<!-- FIXED:トップ画像はguideボタン以外は貼り付け　後日リファクタリング

-->
<!-- FIXED:特徴とSTEPのパネル高さがグリッドで揃わない

-->

<!-- Must FIXED:スマホ用レイアウト整える

-->


<div class="top-full-container">
  <div class="pc-main-visual" style= "background-image:url(<%= asset_path "bg-main-visual-pc03.jpg"%>)">
    <%= link_to "まずは無料登録！", new_user_registration_path, onclick: "ga('send', 'event', 'click', 'form_tap', {'nonInteraction': 1});", class: "top-guide-message-btn" %>
    <a href="/users/sign_in" class="top-guide-login-btn">登録済みの</br>方はこちら</a>
  </div>
  <div class="sp-main-visual" style= "background-image:url(<%= asset_path "bg-main-visual-sp03.jpg"%>)">
    <a href="/users/sign_up" class="top-guide-message-btn">まずはカンタン無料登録！</a>
    <a href="/users/sign_in" class="top-guide-login-btn">登録済みの</br>方はこちら</a>
  </div>

  <div class="top-point-container">
    <div class="top-point-title">
      <div class="top-point-title-en">
        <h2>POINT</h2>
      </div><!--top-point-title -->
      <div class="top-point-title-ja">
        <h3>【ジョブ建設 測量・設計】<br class="br-sp" />３つの特徴</h3>
      </div><!--top-point-title -->
    </div><!--top-point-title -->
    <div class="three-boxes-container">
      <div class="row">
        <div class="row-eq-height">
          <div class="col-md-4">
            <div class="inner-box">
                <%= image_tag("point/point01-specialized.gif", :alt => "特徴01測量・設計に特化アイコン") %>
                <h3>測量・設計に特化</h3>
                <p>ジョブ建設は測量、設計に特化した転職スカウトサービスです。あなたの技術や経験を生かす事のできる転職を支援いたします。</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inner-box">
                <%= image_tag("point/point02-scout.gif", :alt => "特徴02スカウト受取りアイコン") %>
                <h3>スカウトを受け取る</h3>
                <p>プロフィール登録(無料)をしていただければ、あなたをスカウトしたい企業からのスカウトメールを待つだけです。</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inner-box">
                <%= image_tag("point/point03-anonymous.gif", :alt => "特徴03完全匿名性アイコン") %>
                <h3>完全匿名制</h3>
                <p>企業からのスカウトメールに返信や受諾をするまでは、氏名、生年月日、メールアドレス等の個人情報は完全に非公開です。在職中の方でも安心してご利用いただけます。</p>
              </div>
            </div>
        </div><!--row-eq-height -->
      </div><!--row -->
     </div><!--three-boxes-container -->
    </div><!--top-point-container -->

    <div class="section-flow">
      <h2>登録無料！簡単！<br class="br-sp" />３STEP！</h2>
      <div class="step-visual" style= "background-image:url(<%= asset_path "bg-step-img-pc.jpg"%>)">

        <div class="top-step-title">
          <div class="top-step-title-en">
            <h3>STEP</h3>
          </div><!--top-point-title -->
          <div class="top-step-title-ja">
            <p>【ジョブ建設 測量・設計】<br class="br-sp" />３つのステップ</p>
          </div><!--top-point-title -->
        </div><!--top-point-title -->

        <div class="three-boxes-container">
        <div class="row">
          <div class="row-eq-height">
            <div class="col-md-4">
              <div class="inner-box">
              <%= image_tag("step/step01-register.gif", :alt => "ステップ01プロフィール登録アイコン") %>
              <h3>プロフィールを登録</h3>
              <p>基本情報、希望条件、保有資格などを登録します。</p>
            </div>
            </div>
            <div class="step-arrow01">
              <%= image_tag("img-right-arrow.svg", :alt => "右矢印") %>
            </div>
            <div class="col-md-4">
              <div class="inner-box">
              <%= image_tag("step/step02-wait.gif", :alt => "ステップ02スカウト待ちアイコン") %>
              <h3>スカウトメールを待つ</h3>
              <p>登録した後はあなたをスカウトしたい企業からのスカウトを待ちます。</p>
              </div>
            </div>
            <div class="step-arrow02">
              <%= image_tag("img-right-arrow.svg", :alt => "右矢印") %>
            </div>
            <div class="col-md-4">
              <div class="inner-box">
              <%= image_tag("step/step03-contact.gif", :alt => "ステップ03企業とコンタクトアイコン") %>
              <h3>企業とコンタクト</h3>
              <p>スカウトメールの条件や求人内容を確認し、気になった企業に返信しコンタクトをとりましょう。</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="guide-btn-container">
        <div class="balloon1">
          <p>簡単１０秒！<br class="br-sp" />まずはメールアドレスを登録！</p>
        </div>
        <%= link_to "まずは無料登録！", new_user_registration_path, class: "top-guide-message-btn", :onclick => "ga('send', 'event', 'click', 'form_tap', {'nonInteraction': 1});" %>
      </div>
      </div>
    </div><!--section-flow-->

  <div class="top-section-faq">
      <div class="top-point-title">
        <div class="top-point-title-en">
          <h2>FAQ</h2>
        </div><!--top-point-title -->
        <div class="top-point-title-ja">
          <h3>よくあるご質問</h3>
        </div><!--top-point-title -->
      </div><!--top-point-title -->
    <div class="display-faq">
      <div class="faq">
        <div class="display-detail">
          <dl>
            <dt><span>Q.</span>利用するには費用がかかりますか？</dt>
            <dd><span>A.</span>企業様からいただいており、みなさまは全て無料でご利用できます。</dd>

            <dt><span>Q.</span>プロフィールとして登録した情報のうち、企業に公開される項目は？</dt>
            <dd><span>A.</span>お名前、電話番号、メールアドレス、誕生日の個人情報項目は、企業からのスカウトメールに承諾返信した場合のみ該当企業に公開されます。</dd>

            <dt><span>Q.</span>業務委託、契約社員、アルバイト、学生でも登録可能でしょうか？</dt>
            <dd><span>A.</span>はい、可能です。正社員に限らずスカウトが届きます。</dd>

            <dt><span>Q.</span>測量や設計の経験がなくても登録可能でしょうか？</dt>
            <dd><span>A.</span>はい、可能です。未経験者の方もスカウトが届きます。</dd>

            <dt><span>Q.</span>スカウトメールが届いた後の流れは？</dt>
            <dd><span>A.</span>スカウト企業様の情報をみて、選考へ進みたい場合のみ、承諾ボタンを押していただきます。承諾しますとお名前、メールアドレスなどの個人情報が開示されますので、企業様と直接やりとりをおこない、選考へ進んでいただきます。</dd>
          </dl>
        </div><!--display-detail -->
      </div><!--user-faq -->
    </div><!--display-faq -->
  </div><!--top-section-faq -->

<!-- ここから下は、デプロイ時点では無効化しておく  2018.7.31 by takuya-->


  <div class="top-section-contact" id="contact">
    <div class="top-contact-title">
      <h2>ご利用は無料です！</h2>
    </div><!--top-contact-title -->
    <div class="top-contact-container">
      <div class="top-contact-flow">
        <ul class="flow_contact">
          <li class="active">メールアドレス入力</li>
          <li>仮登録メール確認</li>
          <li >会員情報入力</li>
        </ul>
      </div><!--top-contact-flow -->
      <div class="top-contact-mail-term-link">
        <!-- <ul>
          <li><%= link_to "『利用規約』" , convention_path %></li>
          <li><%= link_to "『プライバシーポリシー』" , privacypolicy_path %></li>
        </ul> -->
      </div><!--top-contact-mail-term-link -->
      <div class="top-contact-btn">
        <%= link_to "まずは無料登録！", new_user_registration_path, class: "top-guide-message-btn", :onclick => "ga('send', 'event', 'click', 'form_tap', {'nonInteraction': 1});" %>
      </div><!--top-contact-btn -->
      <div class="top-contact-caution">
        <ul>
          <li>※メールによる認証が必要となります。すぐに受け取れるメールアドレスをご入力ください。</li>
          <li>※メール受信制限をされている方は ジョブ建設運営部からの</br>メール受信を許可してください。</li>
        </ul>
      </div><!--top-contact-caution -->
    </div><!--top-contact-container -->
  </div><!--top-section-contact -->
</div><!--full-container -->
<%= render 'layouts/footer' %>
