<%= render 'layouts/header' %>

<div class="register-session-container">
  <div class="form-wrapper">
      <h2>パスワードの再発行</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="button-panel">
          <%= f.submit "登録メールにて再発行手続き", :class => "button" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div><!--form-wrapper-->
</div><!--register-session-container-->
<%= render 'layouts/footer' %>
