<%= provide(:title, 'SekouAPP') %>
<div class="content_upper">
  <h2>スカウト管理</h2>
</div>

<div class="content_container">
  <div class="setting-container">
    <ul>
      <!-- <li><%= link_to 'スカウトの一覧を表示', scout_views_path %></li>
      <li><%= link_to '履歴書の確認・編集', resume_path %></li>
      <li><%= link_to '職歴の確認・編集', careers_path %></li>
      <li><%= link_to '設定ページ', user_setting_path %></li> -->
    </ul>
  </div><!--setting-container -->
</div>
<div class="menu-back">
  <%= link_to 'メニューへ戻る', client_menu_url %>
</div>
