<% content_for :footer do %>
<footer>
<div class="container">
 <div class="row">
     <div class="logo"><strong>
       <a href="/"><%= image_tag("blue-logo02.svg", :alt => "ジョブ建設青色ロゴ") %></a>
     </strong></div>
     <ul>
       <li><%= link_to "運営会社", companysummary_path %></li>
       <li><%= link_to "利用規約", convention_path %></li>
       <li><%= link_to "プライバシーポリシー", privacypolicy_path %></li>
       <li><%= link_to "よくあるご質問", faq_path %></li>
       <li><%= link_to "お問い合わせ", contactus_path %></li>
     </ul>
      <p class="copy">&copy;&nbsp;ジョブ建設</p>
 </div><!--row-->
</div><!--container-->
<div id="backtop">
</div>
</footer>
<% end %>
