<% content_for :header do %>
<header>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <!-- <div class="sub-title">
        <p>測量に特化したサービス</p>
     </div> -->
     <!-- <h1><a href="/"><font color = "ffffff">施工ネット.com</font></a></h1> -->
     <div class="logo">
       <%= link_to user_menu_path do %>
         <%= image_tag("white-logo02.svg", :alt => "ジョブ建設") %>
       <% end %>
     </div><!--logo-->
     <div class="con-domain">
       <p>測量・設計</p>
     </div><!--con-domain-->
      <nav class="hidden-md-down">
        <ul>
          <li><%= link_to 'スカウト一覧', scout_views_path %></li>
          <!-- <li><a href="/#point">メッセージ</a></li> -->
          <li><%= link_to '履歴書', resume_path %></li>
          <li><a class="toggle menu">設定</a>
            <ul class="inner child">
              <li class="inner-li_1"><%= link_to 'ログイン情報', user_setting_logininfo_path %></li>
              <li class="inner-li_2"><%= link_to '通知機能', user_setting_popupconfig_path %></li>
              <li class="inner-li_3"><%= link_to '退会', user_setting_byebye_path %></li>
            </ul>
          </li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul>
            <li class="nav-li_1"><%= link_to 'スカウト一覧', scout_views_path %></li>
            <!-- <li class="nav-li_1"><a href="/#point">メッセージ</a></li> -->
            <li class="nav-li_1"><%= link_to '履歴書', resume_path %></li>
            <li class="nav-li_2">設定
              <ul class="inner child">
                <li class="nav-li_1"><%= link_to 'ログイン情報', user_setting_logininfo_path %></li>
                <li class="nav-li_1"><%= link_to '通知機能', user_setting_popupconfig_path %></li>
                <li class="nav-li_1"><%= link_to '退会', user_setting_byebye_path %></li>
              </ul>
            </li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
</header>
<% end %>
