<% content_for :header do %>
<header>
<div class="container">
 <div class="row">
   <div class="container-fluid">
     <div class="logo">
        <%= link_to client_menu_path do %>
          <%= image_tag("white-logo.svg", :alt => "施工ネット") %>
        <% end %>
     </div><!--logo-->
     <div class="con-domain">
       <p>測量・設計</p>
     </div><!--con-domain-->
      <nav class="hidden-md-down-cl">
        <ul>
          <li><%= link_to 'スカウト管理', scout_manage_path %></li>
          <li><%= link_to '企業情報', coinfo_path %></li>
          <!-- <li><a href="/#flow">メッセージ</a></li> -->
          <li><%= link_to 'ログアウト', destroy_client_session_path, method: :delete %></li>
        </ul>
      </nav>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul>
            <li class="nav-li_1"><%= link_to 'スカウト管理', scout_manage_path %></li>
            <li class="nav-li_1"><%= link_to '企業情報', coinfo_path %></li>
            <!-- <li class="nav-li_1"><a href="/#flow">メッセージ</a></li> -->
            <!-- <li class="nav-li_1"><a href="/#flow">クリップ</a></li> -->
            <li><%= link_to 'ログアウト', destroy_client_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div><!--container-fluid-->
  </div><!--row-->
</div><!--container-->
</header>
<% end %>
