<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <%= yield :header %>
      <div class="container py-4 px-0">
        <%= flash_message(flash[:success], :success) if flash[:sucess] %>
        <%= flash_message(flash[:error], :danger) if flash[:error] %>
        <%= flash_message(flash[:alert], :waring) if flash[:alert] %>
        <%= flash_message(flash[:notice], :info) if flash[:notice]  %>
      </div>
      <%= yield %>
      <%= yield :footer %>
    </div>
    <script>
      function demo01() {
        $(this).next().slideToggle(0);
      }
      $(".toggle").click(demo01);
    </script>
    <%= yield :jsfooter %>
  </body>
</html>
