<!DOCTYPE html>
<html>
  <head>
    <%= tag_manage %>
    <%= tag_hotjar %>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="測量・設計に特化した建設業界初の転職スカウトサービス。転職希望、就職希望のかたは完全無料で利用できます。また、完全匿名性なので安心して利用できます。未経験者のかたも大歓迎。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="Y4AdwrTwdQfPc111oho4kzs0WBfjYpvD6B8x6u5CSyw" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <%= yield :header %>
      <div class="container py-4 px-0">
        <%= flash_message(flash[:success], :success) if flash[:sucess] %>
        <%= flash_message(flash[:error], :danger) if flash[:error] %>
        <%= flash_message(flash[:alert], :waring) if flash[:alert] %>
        <%= flash_message(flash[:notice], :info) if flash[:notice]  %>
      </div>
      <%= yield %>
      <%= yield :footer %>
    </div>
    <%= yield :jsfooter %>
  </body>
</html>
