<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <% if yield(:header).empty? %>
          <%= render 'layouts/header' %>
        <% else %>
          <%= yield :header %>
        <% end %>
      </header>
      <%= yield %>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
    <script>
      function demo01() {
        $(this).next().slideToggle(0);
      }
      $(".toggle").click(demo01);
    </script>
  </body>
</html>
