<% content_for :header do %>
  <% if @user == nil || @client == nil %>
    <div class="container">
     <div class="row">
       <div class="container-fluid">
         <div class="logo">
           <a href="/" id ="pate-top">
             <%= image_tag("white-logo.svg", :alt => "施工ネット") %>
           </a>
         </div>
         <div class="con-domain">
           <p>測量・設計</p>
         </div><!--con-domain-->
        </div><!--container-fluid-->
      </div><!--row-->
    </div><!--container-->
  <% else %>
    <div class="container">
     <div class="row">
       <div class="container-fluid">
         <h1>施工ネット 測量・設計</h1>
          <nav class="hidden-md-down-cl">

            <ul>
              <li><a href="/#service">求職者</a></li>
              <li><a href="/#point">スカウト</a></li>
              <li><a href="/#flow">メッセージ</a></li>
              <li><a href="/#flow">クリップ</a></li>
              <li><a class="toggle menu" href="/#faq">設定</a>
                <ul class="inner child">
                  <li class="inner-li_1">公開情報</li>
                  <li class="inner-li_2">ログイン情報</li>
                  <li class="inner-li_3">通知機能</li>
                  <li class="inner-li_4">退会</li>
                </ul>
              </li>
            </ul>
          </nav>
      </div><!--container-fluid-->
    </div><!--row-->
    </div><!--container-->
  <% end %>
<% end %>
<% content_for :footer do %>
<footer>
<div class="container">
 <div class="row">
     <p class="logo"><strong>
       <a href="/">
         施工ネット 測量・設計
       </a>
     </strong></p>
     <ul>
       <li><%= link_to "運営会社", companysummary_path %></li>
       <li><%= link_to "利用規約", convention_path %></li>
       <li><%= link_to "プライバシーポリシー", privacypolicy_path %></li>
       <li><%= link_to "よくあるご質問", faq_path %></li>
       <li><%= link_to "お問い合わせ", contactus_path %></li>
     </ul>
      <p class="copy">&copy;&nbsp;施工ネット</p>
 </div><!--row-->
</div><!--container-->
<div id="backtop">
</div>
</footer>
<% end %>
<% parent_layout 'application' %>
